<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<style>
    .carousel-item {
    display: flex;
    justify-content: center;
}
.card {
    flex: 0 0 auto;
}

</style>
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <%- include('../partials/message.ejs') %>
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="row mb-5">
            <div class="mt-3 px-3 mb-3">
                <a href="/tugas/create" class="btn btn-sm btn-primary">Tambah</a>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% for(var i = 0; i < tugasList.length; i++) { %>
                        <div class="swiper-slide">
                            <div class="card mb-4 mx-2" style="width: 20rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h4><%= tugasList[i].nama_mapel %></h4>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><b><%= tugasList[i].judul %></b></span>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="/tugas/edit/<%= tugasList[i].id_tugas %>">
                                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                                </a>
                                                <a class="dropdown-item" href="/tugas/delete/<%= tugasList[i].id_tugas %>">
                                                    <i class="bx bx-trash me-1"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item"><a>Deskripsi : </a><%= tugasList[i].deskripsi %></li>
                                    <li class="list-group-item"><a>Deadline : 20.00 10-05-2024</a></li>
                                    <li class="list-group-item">
                                        <div class="mt-3 px-3">
                                            <a href="../pengumpulan/index_mahasiswa/<%= tugasList[i].id_tugas %>" class="btn btn-sm btn-primary">Detail Tugas</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                </div>
            
                <!-- Add Pagination if needed -->
                <div class="swiper-pagination"></div>
            
                
            </div>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
</div>
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <%- include('../partials/message.ejs') %>
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="row mb-5">
            <div class="mt-3 px-3 mb-3">
                <!-- <a href="/tugas/create" class="btn btn-sm btn-primary">Tambah</a> -->
                <a>Materi</a>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% for(var i = 0; i < tugasList.length; i++) { %>
                        <div class="swiper-slide">
                            <div class="card mb-4 mx-2" style="width: 20rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h4><%= tugasList[i].nama_mapel %></h4>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><b><%= tugasList[i].judul %></b></span>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="/tugas/edit/<%= tugasList[i].id_tugas %>">
                                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                                </a>
                                                <a class="dropdown-item" href="/tugas/delete/<%= tugasList[i].id_tugas %>">
                                                    <i class="bx bx-trash me-1"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item"><a>Deskripsi : </a><%= tugasList[i].deskripsi %></li>
                                    <li class="list-group-item"><a>Deadline : 20.00 10-05-2024</a></li>
                                    <li class="list-group-item">
                                        <div class="mt-3 px-3">
                                            <a href="../pengumpulan/index_mahasiswa/<%= tugasList[i].id_tugas %>" class="btn btn-sm btn-primary">Detail Tugas</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                </div>
            
                <!-- Add Pagination if needed -->
                <div class="swiper-pagination"></div>
            
                
            </div>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
</div>
<%- include('../partials/footer') %> <!-- Pastikan ini ada sebelum penutupan tag body -->

