<%- include('../partials/header') %>
	<%- include('../partials/navbaradmin', {pages: 'profile',}) %>
		<%- include('../partials/message') %>
			<style>
				.kebawah {
					margin-top: 230px;
				}

				.kiri {
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
					border: 1px solid #ddd;
				}

				.kanan {
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
					border: 1px solid #ddd;
				}
			</style>

			<div class="container mt-5">
				<div class="main-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="card kiri">
								<div class="card-body">
									<div class="d-flex flex-column align-items-center text-center">
										<img src="/images/foto_user/<%= photos %>" alt="Admin"
											class="rounded-circle p-1 bg-primary" width="110">
										<div class="mt-3">
											<h4>
												<%= nama %>
											</h4>
											<p class="text-secondary mb-1">
												<%= level_user %>
											</p>
											<p class="text-muted font-size-sm mb-9">
												<%= email %>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="card kanan">
								<form role="form text-left" action="/admin/editProfile" method="post"
									enctype="multipart/form-data">
									<div class="card-body">
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Full Name</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<input type="text" class="form-control" placeholder="<%= nama %>" name="nama">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Gender</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<select class="form-control" id="jenis_kelamin" name="jenis_kelamin"
													aria-label="Gender">
													<option selected value="<%= jenis_kelamin %>">
														<%= jenis_kelamin %>
													</option>
													<option value="laki-laki">Male</option>
													<option value="perempuan">Female</option>
												</select>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Tanggal Lahir</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<input type="date" class="form-control" name="tanggal_lahir"
													placeholder="<%= tanggal_lahir %>">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Phone</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<input type="text" class="form-control" name="no_hp" placeholder="<%= no_hp %>">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Email</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<input type="text" class="form-control" name="email" placeholder="<%= email %>">
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<h6 class="mb-0">Foto</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												<input type="file" class="form-control" name="photos" placeholder="<%= photos %>">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3"></div>
											<div class="col-sm-9 text-secondary">
												<input type="submit" class="btn btn-primary px-4">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('../partials/footer') %>